<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="armah_quickmenu" id="armah_quickmenu">
			<module before="Magento_Backend" name="Armah_Quickmenu"/>
		</route>
	</router>
</config>
